        <header>
            <div class="row">
                <div class="col-md-3">
                    <p class="title text-center"><a href="./index.html">相場商店</a></p>
                </div>
                <div class="col-md-4">
                    <p class="subTitle text-center">〜谷中観音堂の目の前の煎餅屋さん〜</p>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                    <p class="tel text-center">&#9742; 0276-88-5278</p>
                    <p class="name text-center">店主：相場重男</p>
                </div>
            </div>
        </header>
