        <header>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="title mb-0"><a href="/index.html"><img src="/assets/image/logo.svg" alt="相場商店" class="logo-image"></a></p>
                </div>
                <div class="col-md-6 text-md-end text-center">
                    <p class="tel mb-0">&#9742; 0276-88-5278</p>
                    <p class="name">店主：相場重男</p>
                </div>
            </div>
        </header>
