<div class="visible-lg visible-md">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" {% if page.name == "index.html" %}class="active"{% endif %}><a href="./index.html">Home</a></li>
      <li role="presentation" {% if page.name == "genkotu.html" %}class="active"{% endif %}><a href="./genkotu.html">げんこつ揚げ</a></li>
      <li role="presentation" {% if page.name == "hako.html" %}class="active"{% endif %}><a href="./hako.html">箱詰め商品</a></li>
      <li role="presentation" {% if page.name == "youkan.html" %}class="active"{% endif %}><a href="./youkan.html">ようかん</a></li>
      <li role="presentation" {% if page.name == "info.html" %}class="active"{% endif %}><a href="./info.html">営業案内/アクセス</a></li>
      <li role="presentation" {% if page.name == "order.html" %}class="active"{% endif %}><a href="./order.html">ご注文方法</a></li>	
    </ul>
  </div>
</div>
