                <div class="col-12 d-md-none pt-md pb-md">
                    <ul class="nav nav-pills flex-column">
                      <li class="nav-item" role="presentation"><a class="nav-link {% if page.name == "index.html" %}active{% endif %}" href="./index.html">Home</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link {% if page.name == "genkotu.html" %}active{% endif %}" href="./genkotu.html">げんこつ揚げ</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link {% if page.name == "hako.html" %}active{% endif %}" href="./hako.html">箱詰め商品</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link {% if page.name == "youkan.html" %}active{% endif %}" href="./youkan.html">ようかん</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link {% if page.name == "info.html" %}active{% endif %}" href="./info.html">営業案内/アクセス</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link {% if page.name == "order.html" %}active{% endif %}" href="./order.html">ご注文方法</a></li>
                    </ul>
                </div>
