<!DOCTYPE html>
<html lang="ja">
<head>
{% include head.html %}
</head>
<body>
  <div class="container" style="padding-top:10px">
  {% include header.html %}      
  <div class="content">
    <div class="row">
      {% include left_nav_pc.html %}      
      <div class="col-md-9">
        <div class="main">
        {{ content }}
        </div>
      </div>
      {% include left_nav_sp.html %}      
    </div>
  </div>
  {% include footer.html %}
</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FP3CK23KYF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FP3CK23KYF');
</script>
</html>
